@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #fffafc;
  line-height: 1.7;
}

section {
  scroll-margin-top: 80px;
}
@keyframes softPulse {
  0% {
    background-color: #fffafc;
  }
  50% {
    background-color: #fdecef;
  }
  100% {
    background-color: #fffafc;
  }
}

.soft-glow {
  animation: softPulse 8s ease-in-out infinite;
}
